body{
font-family: Arial, Helvetica, sans-serif;
margin:0;
color:#333;
line-height:1.6;

background-image: url(kitty-cat-paw-background.avif);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.skip-link{
    position:absolute;
    left:-9999px;
}

.skip-link:focus{
   left:20px;
    top:20px;
    background:black;
    color:white;
    padding:10px;
    z-index:1000;
}

@media (max-width: 768px){
    body{
        background-position: top;
    }
    .hero h1{
        font-size:36px;
    }

    .tagline{
        font-size:18px;
    }
    
    .layout{
        flex-direction:column;
    }
    
    .sidebar{
        padding-left:0;
        margin-top:40px;
    }

    .container{
        width:90%;
    }
}

.container{
width:1000px;
width: 90%;
margin:auto;
}

.hero{
background:#3b97a8;
color:white;
padding:70px 0;
background-image: 
linear-gradient(to right rgba(59,151,168,0.95) 50%, rgba(255,255,255,0.9)),
url(kitty-cat-paw-background.avif);
background-size: cover;
background-position: center;
}

.hero h1{
font-size:56px;
margin:0;
letter-spacing:2px;
}

.tagline{
font-size:24px;
margin-top:10px;
font-style:italic;
}

.navbar{
background:#d6d6d6;
padding:15px 0;
font-size:16px;
}

.navbar a{
text-decoration:none;
color:#333;
margin:0 8px;
}

.navbar span{
color:#777;
}

.layout{
display:flex;
gap:60px;
padding:50px 0;
}

.main-content{
flex:2;
}

.sidebar{
flex:1;
}

.intro{
color:#2aa1c0;
font-size:22px;
font-weight:bold;
}

.quote{
color:#2aa1c0;
font-size:20px;
margin:40px 0;
}

h3{
margin-top:40px;
}

.sidebar h4{
margin-top:20px;
}

.sidebar img{
width:100%;
margin:15px 0;
}

a{
color:#2aa1c0;
text-decoration:none;
}

a:hover{
text-decoration:underline;
}

.footer{
background:#3a3a3a;
color:white;
text-align:center;
padding:60px 20px;
margin-top:40px;
}

.footer-logo{
font-size:36px;
font-weight:bold;
margin-bottom:20px;
}

.footer-text{
max-width:600px;
margin:auto;
margin-bottom:20px;
color:#d6d6d6;
}

.footer-links{
margin-bottom:20px;
}

.copyright{
color:#bbb;
font-size:14px;
}
