{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: white;
  .color: #333; 
}

.hero{
  background: #222 url('https://images.unsplash.com/photo-1518791841217-8f162f1e1131'); center/cover
  height: 350px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  background-color: rgba (0, 0, 0, 0.6);
  padding: 40px;
  width: 100%;

}

.hero h1 {
  font-size: 3rem;
  letter-spacing: 2px;

}

.tagline {
  margin-top: 10px;
  font-size: 1.2rem;

}

.main-nav {
  background-color: salmon;
  padding: 15px;
  text-align: center;

}

.main-nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;

}

.main-nav a:hover {
  text-decoration: underline;

}

.btn {
  background: white;
  color: #ff6b6b;
  padding: 6px 12px;
  border-radius: 4px:

}

.container {
  width: 90%;
  max width: 1100px;
  margin: 40px auto;

}

.intro {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 50px;

}

,intro-text {
  flex: 2;

}

logo-placeholder {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.cat-logo {
  border: 2px dashed #ccc;
  padding: 40px;
  font-weight: bold;

}

.feature-card {
  background: white;
  padding: 20px;
  flex: 1;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}

.feature-card a {
  display: inline-block;
  margin-top: 10px;
  color: #ff6b6b;
  font-weight: bold;

}

.story {
  margin-bottom: 50px;

}

.story h2 {
  margin-bottom: 15 px;

}

.news-section {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 50px;

}

.news, .cat-week {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}

blockqoute {
  font-style: italic;
  margin-top: 10px;

}

blockqoute span {
  display: block;
  margin-top: 10px;
  font-weight: bold;

}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;

}

.footer-links {
  margin-bottom: 10px;

}

.footer-links a {
  color:#ff6b6b;
  text-decoration: none;
  margin: 0 5px;

}

.footer-links a:hover {
  text-decoration: underline;
  
}